body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: var(--third-text-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

img {
    width: 100%;
    height: auto;
}