.custumers__list {
    @include flex(flex, null, null);
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.custumers__item {
    width: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.custumers__link {
    @include flex(flex, center, center);
    height: 92px;
    width: 100%;
    padding: 0;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
        } 
}


