.exclusive__list {
    @include flex(flex, null, space-between);
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.exclusive__item {
    width: 270px;
}

.exclusive__container-icon {
    @include flex(inline-flex, center, center);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border: none;
    border-radius: 4px;
    background-color: #F5F4FA;
}


.exclusive__title {
    @include font(null, 14px, calc(16/14), null);
    margin-top: 0;
    margin-bottom: 10px;
}

.exclusive__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: calc(24/14);
    color: var(--second-text-color);
}